.info {
  margin: 50px;
  .section {
    width: 30%;
    cursor: pointer;
  }
  .choice {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 30px;
    }
  }

.dates {
  display: flex;
  justify-content: space-between;
  width: 45%;
  height: fit-content;

  input {
    width: 40%;
  }
}

.choiceVisits {
  display: flex;
  justify-content: space-between;
  select {
    height: fit-content;
  }

}

.visitsTable {
  width: 80%;
  margin-top: -100px;
  .changeRange {
    margin-left: 10px;
    width: 99%;
  }
}

table {
  border: 1px solid #d0d0d0;
}


